
<section class="content">
    <div class="container-fluid">
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Active Threads
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                <tr>
                                    <th>Topic</th>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th> <i class="material-icons">thumb_up</i> <span class="icon-name"></span></th>
                                    <th>Creation date</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr *ngFor="let p of Threads">
                                    <td>{{p.topic}}</td>
                                    <td>{{p.title}}</td>
                                    <td>{{p.description}}</td>
                                    <td>{{ getRatio(p) }} %</td>
                                    <td>{{p.creationdate}}</td>
                                    <td><button class="btn btn-danger waves-effect" (click)="deleteThread(p.id,p.creatoruser,p.title)">Delete</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>
   
</section>
