<section class="content">
    <div class="container-fluid">
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Overwatch Section
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                <tr>
                                    <th>Subject Identifier</th>
                                    <th>Type</th>                                 
                                    <th>Number of reports</th>
                                    <th>Details</th>
                                    <th>Remove</th>
                                    <th>Ignore</th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr *ngFor="let p of Threads">
                                    <td>{{p.topic}}</td>
                                    <td>{{p.title}}</td>
                                    <td>{{p.description}}</td>
                                    <td>{{p.upvote}}</td>
                                    <td>{{p.downvote}}</td>
                                    <td>{{p.creationdate}}</td>
                                    <td><button class="btn btn-danger waves-effect" (click)="deleteProduit(p.id)">Remove</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>
</section>
