<section class="content">
    <div class="container-fluid">
        <!-- Basic Examples -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            Overwatch Section
                        </h2>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                <thead>
                                <tr>
                                    <th>Subject Type</th>
                                    <th>Subject Identifier</th>
                                    <th>Reason</th>                                 
                                    <th>Number of reports</th>
                                    <th>View Subject</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr *ngFor="let p of Subjects">
                                    <td>{{p.type}}</td>
                                    <td>{{p.subject_id}}</td>
                                    <td>{{p.reason}}</td>
                                    <td>{{p.report_nb}}</td>
                                    <td>
                                        <button class="btn bg-blue waves-effect" (click)="viewSubject(p.subject_id,p.type)" data-toggle="modal" data-target="#defaultModal">
                                        <i class="material-icons">search</i>
                                        </button>
                                    </td>
                                    <td><button class="btn btn-danger waves-effect" (click)="deleteSubject(p.id,p.userid,p.subject_id)">Remove</button></td>
                                    <td><button class="btn btn-lime waves-effect" (click)="ignoreSubject(p.id)">Ignore</button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Basic Examples -->
    </div>
</section>
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" style="display: none; padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Reported Subject</h4>
            </div>
            <div class="modal-body">
                <h6>Content:</h6>
                {{viewedThread.description}}
                {{viewedComment.comment }}
                <br>
                <h6>Writer user:</h6>
                {{viewedThread.creatoruser}}
                {{viewedComment.writer }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>