
    <!-- Masked Input -->
    <section class="content">
        <div class="container-fluid">
    
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Add Event
                    </h2>
    
                </div>
                <div class="body">
                    <div class="demo-masked-input">
                        <div class="row clearfix">
                        
                            <ejs-schedule></ejs-schedule>

                            
    
                        </div>
                    </div>
                    <button class="btn btn-success waves-effect" (click)="addProduit()">SUCCESS</button>
                </div>
            </div>
        </div>
    </div>
        </div>
    </section>
    <!-- #END# Masked Input -->