<!-- Masked Input -->
<section class="content">
  <div class="container-fluid">

    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              Add demande
            </h2>

          </div>
          <div class="body">
            <div class="demo-masked-input">
              <div class="row clearfix">
                <div class="col-md-3">
                  <b>Titre</b>
                  <div class="input-group">

                    <div class="form-line">
                      <input type="text" [(ngModel)]="details.titre" class="form-control key" required #a="ngModel">
                    </div>
                    <div class="alert alert-danger" *ngIf="a.invalid">-->
                      Titre obligatoire
                       </div>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <b>Adresse</b>
                                        <div class="input-group">
                                          <div class="form-line">
                                            <input type="text" [(ngModel)]="details.adresse" class="form-control credit-card" required #b="ngModel">
                                          </div>
                                          <div class="alert alert-danger" *ngIf="b.invalid">-->
                                            Titre obligatoire
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <b>Date de publication</b>
                                        <div class="input-group">
                                          <div class="form-line">
                                            <input type="date" [(ngModel)]="details.datepublication" class="form-control date"required #c="ngModel">
                                          </div>
                                          <div class="alert alert-danger" *ngIf="c.invalid">-->
                                            Date publication obligatoire
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-4">
                                        <b>Date d'expiration</b>
                                        <div class="input-group">
                                          <div class="form-line">
                                            <input type="date" [(ngModel)]="details.deadline" class="form-control date" required #d="ngModel">
                                          </div>
                                          <div class="alert alert-danger" *ngIf="d.invalid">-->
                                            Date d'expiration obligatoire
                                          </div>
                                        </div>
                                      </div>

                                      <div class="col-md-6">
                                        <b>Description</b>
                                        <div class="input-group">
                                          <div class="form-group form-float">
                                            <div class="form-line">
                                              <textarea name="description" [(ngModel)]="details.description" cols="30" rows="2" class="form-control no-resize"  ></textarea>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-3">
                                        <b>Categorie</b>
                                        <div class="input-group">
                                          <div class="form-line">
                                            <select [(ngModel)]="details.categorie" class="form-control show-tick" required #e="ngModel">
                                              <option></option>
                                              <option>Hunting</option>
                                              <option>Fishing</option>
                                            </select>
                                          </div>
                                          <div class="alert alert-danger" *ngIf="e.invalid">
                                            Categorie obligatoire
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-3">
                                        <b>Etat</b>
                                        <div class="input-group">

                                          <div class="form-line">
                                            <select [(ngModel)]="details.etat" class="form-control show-tick" >
                                              <option></option>
                                              <option>En cours</option>
                                              <option>Vendu</option>
                                              <option>Expiré</option>
                                            </select>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <button class="btn btn-success waves-effect" (click)="addOffre()">Ajouter</button> <br><br>
                                  <button class="btn btn-success waves-effect" routerLink="/allDemande">Consulter vos demandes</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
